.favorite-button{
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: purple;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.favorite-button-active{
    background-color: #ccc;
    color: red;
}