.container{
    background: #141414;
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 100%;
}

.container .title_box{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.title_box h1{
    border-bottom: 1px solid purple;
    color: #fff;
    margin-bottom: 1.2rem;
    width: 60%;
}
