.btnDefault{
    border: 1px solid #fff;
    color: #fff;
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all ease 400ms;
    width: 320px;
}

/* .btnDefault:hover{
    background: rgba(0, 0, 0, .6);
} */

.btn_assinante{
    background: transparent;
}

.btn_assinante:hover{
    background: rgba(0, 0, 0, .4);
}

.small{
    width: 80px;
}