.btnDefault{
    border: 1px solid #fff;
    color: #fff;
    padding: 0.2rem 0.25rem;
    text-align: center;
    text-decoration: none;
    transition: all ease 400ms;
    width: 320px;
}

.btnDefault:hover{
    border: 1px solid #a003de;
}

.btn_assinante:hover{
    background: #4e016d;
    border: 1px solid #fff;
}

.small{
    width: 80px;
}